<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flab.just10minutes.member.repository.MemberDao">
    <insert id="save" parameterType="java.util.HashMap">
        INSERT INTO MEMBER
        (id,
        password,
        name,
        address,
        balance)
        VALUES
        (#{id},
        #{password},
        #{name},
        #{address},
        #{balance})
    </insert>

    <select id="findById" parameterType="java.lang.String" resultType="flab.just10minutes.member.domain.Member">
        SELECT id, name, address, balance FROM MEMBER
        WHERE MEMBER.id = #{id}
    </select>

    <select id="findId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id FROM MEMBER
        WHERE MEMBER.id = #{id}
    </select>
</mapper>