<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flab.just10minutes.product.repository.PurchaseDao">
    <insert id="save" parameterType="java.util.HashMap">
        INSERT INTO PURCHASE
        (memberUniqueId,
        productId,
        amount,
        timestamp)
        VALUES
        (#{memberUniqueId},
        #{productId},
        #{amount},
        #{timestamp})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM PURCHASE
        WHERE purchaseId = #{purchaseId}
    </delete>

    <select id="findByPurchase" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
        count(purchaseId)
        FROM PURCHASE
        WHERE memberUniqueId = #{memberUniqueId}
        AND productId = #{productId}
    </select>

    <select id="findByProductId" parameterType="java.lang.Long"  resultType="flab.just10minutes.product.dto.PurchaseDto">
        SELECT pr.purchaseId purchaseId
            , p.name productName
            , p.price price
            , pr.amount amount
            , m.id memberId
            , pr.timestamp timestamp
        FROM PURCHASE pr
        INNER JOIN MEMBER m ON m.uniqueId = pr.memberUniqueId
        INNER JOIN PRODUCT p ON p.productId = pr.productId
        WHERE pr.productId = #{productId};
    </select>

    <select id="findByMemberUniqueId" parameterType="java.lang.Long"  resultType="flab.just10minutes.product.dto.PurchaseDto">
        SELECT pr.purchaseId purchaseId
        , p.name productName
        , p.price price
        , pr.amount amount
        , m.id memberId
        , pr.timestamp timestamp
        FROM PURCHASE pr
        INNER JOIN MEMBER m ON m.uniqueId = pr.memberUniqueId
        INNER JOIN PRODUCT p ON p.productId = pr.productId
        WHERE pr.memberUniqueId = #{memberUniqueId};
    </select>
</mapper>