<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flab.just10minutes.product.repository.PurchaseActivityDao">
    <insert id="save" parameterType="java.util.HashMap">
        INSERT INTO PURCHASEACTIVITY
        (memberUniqueId,
        productId,
        amount,
        timestamp)
        VALUES
        (#{memberUniqueId},
        #{productId},
        #{amount},
        #{timestamp})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM PURCHASEACTIVITY
        WHERE purchaseId = #{purchaseId}
    </delete>

    <select id="findByProductId" parameterType="java.lang.Long"  resultType="flab.just10minutes.product.domain.PurchaseActivity">
        SELECT
        purchaseId,
        memberUniqueId,
        productId,
        amount,
        timestamp
        FROM PURCHASEACTIVITY
        WHERE productId = #{productId}
    </select>

    <select id="findByMemberUniqueId" parameterType="java.lang.Long"  resultType="flab.just10minutes.product.domain.PurchaseActivity">
        SELECT
        purchaseId,
        memberUniqueId,
        productId,
        amount,
        timestamp
        FROM PURCHASEACTIVITY
        WHERE memberUniqueId = #{memberUniqueId}
    </select>
</mapper>